<div class="container">
  <div class="row justify-content-around container-style">
    <div class="col-sm-8">
      <div class="student-profile">
        <div class="student-header">
          <h1 class="title_show"><b><%= @student.name.upcase %> <%= @student.last_name.upcase %></b></h1>
          <h3>Programa: <%= @student.course.capitalize %></h3>
        </div>
        <div class="student-body">
          <a class="btn btn-dark  " data-toggle="collapse" href="#cv" role="button" aria-expanded="false" >
            <i class="far fa-address-card" style="font-size: 1.3rem;"></i> Datos del Estudiante
          </a>
          <div class="collapse" id="cv">
            <div class="card card-body">
              <p><b>Edad: </b><%= @student.age %></p>
              <p><b>Telefono: </b><%= @student.cellphone %></p>
              <p><b>Email: </b><%= @student.email %></p>
              <p><b>Dirección: </b><%= @student.address %></p>
              <p><b>Acudiente: </b><%= @student.legal_guardian %></p>
              <p><b>Telefono acudiente: </b><%= @student.phone_lg %></p>
              <p><b>Eps: </b><%= @student.eps %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <h2 class="title_show">Estado:</h2>
      <% if @student.state == true %>
        <h3 style="color: green;"><b>ACTIVO</b></h3><br>
      <% else %>
        <h3 style="color: red;"><b>INACTIVO</b></h3><br>
      <% end %>
      <div class="button-pay">
        <%= link_to "Nuevo Pago", new_payment_path(:student_id => params[:id]), remote: true, class:"btn btn-dark" %>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-11 line-div"></div>
  </div>
  <!-- pagos  -->

  <div class="row justify-content-around">
    <div class="col-sm-8">
      <div class="text-center">
        <h1 class="title"><b>Historial De Pagos</b></h1>
      </div>
      <table class="table table-hover table-sm">
        <thead class="thead-light">
          <tr>
            <th>Mes</th>
            <th class="text-center">Fecha de inicio</th>
            <th class="text-center">Fecha de fin</th>
            <th class="text-right">Valor</th>
            <th class="text-right">Concepto</th>
          </tr>
        </thead>
        <tbody>
          <% @payments.each do |payment| %>
            <% if payment.student_id == @student.id %>
              <!-- filas pagos con ajax -->
              <%= render "payments/row", payment: payment %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-sm-3">
      <div class="row justify-content-center">
        <div class="col-sm-10">
          <div class="text-center">
            <h2 class="title_show"><b>Estado de pagos</b></h2>
            <% student = @student.payments.last %>
            <% if @student.payments.empty? %>
              <p></p>
            <% else %>
              <% if student.end_date.strftime("%y%m%d") < @current_date %>
                <h3 style="color: red;"><b>EN MORA</b></h3><br>
              <% else %>
                <h3 style="color: green;"><b>PAZ Y SALVO</b></h3><br>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-10 text-center">
          <div class="card">
            <h3 class="title_show"><b>Total Pagos</b></h3>
            <span class="pay-sum"><%= number_to_currency(@sum, precision: 0) %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
