<div class="container">
  <div class="row justify-content-start">
    <div class="col-sm-8">
      <%= link_to "VOLVER", students_path %>
      <div class="student-profile">
        <div class="student-header">
          <h1><b><%= @student.name.upcase %> <%= @student.last_name.upcase %></b></h1>
          <h3>Programa: <%= @student.course.capitalize %></h3>
        </div>
        <div class="student-body">
          <p><b>Edad: </b><%= @student.age %></p>
          <p><b>Telefono: </b><%= @student.cellphone %></p>
          <p><b>Dirección: </b><%= @student.address %></p>
          <p><b>Acudiente: </b><%= @student.legal_guardian %></p>
          <p><b>Telefono acudiente: </b><%= @student.phone_lg %></p>
          <p><b>Eps: </b><%= @student.eps %></p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <h2>Estado:</h2>
      <h3 style="color: green;"><b>ACTIVO</b></h3><br>
      <div class="button-pay">
        <%= link_to "Nuevo Pago", new_payment_path(:student_id => params[:id]), remote: true, class:"btn btn-dark" %>
      </div>
    </div>
  </div>

  <!-- pagos  -->

  <div class="row justify-content-start">
    <div class="col-sm-8">
      <div class="text-center">
        <h1><b>Historial De Pagos</b></h1>
      </div>
      <table class="table table-hover table-sm">
        <thead class="thead-light">
          <tr>
            <th>Mes</th>
            <th class="text-center">Fecha de inicio</th>
            <th class="text-center">Fecha de fin</th>
            <th class="text-right">Valor</th>
            <th class="text-right">Concepto</th>
          </tr>
        </thead>
        <tbody>
          <% @payments.each do |payment| %>
            <% if payment.student_id == @student.id %>
              <!-- filas pagos con ajax -->
              <%= render "row", payment: payment %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
