<div class="container">
  <h3>Completa la información para completar tu registro</h3>
  <div class="col-md-6">
    <form id="user_update" action="<%=students_updateUserNew_path%>" accept-charset="UTF-8" method="post">
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
      <input name="utf8" type="hidden" value="✓">
      <div class="form-group">
        <input type="text"
               name="<%=:name%>"
               value=""
               class="form-control input-lg"
               placeholder="Nombre de contacto">
      </div>
      <div class="form-group">
        <input type="text"
               name="<%=:phone%>"
               value=""
               class="form-control input-lg"
               placeholder="Telefono">
      </div>
      <div class="form-group">
        <input type="text"
               name="<%=:address%>"
               value=""
               class="form-control input-lg"
               placeholder="Direccion">
      </div>
      <div class="modal-footer">
        <button type="submit" name="Completar Registro" class="btn btn-dark btn-lg btn-block" >Completar Registro</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">

  </div>
</div>
