<div class="container">
  <%= link_to '<i class="fas fa-arrow-left"></i> Volver'.html_safe, students_path %></i>
  <div class="row justify-content-around container-style">
    <div class="col-sm-8">
      <h1 class="title text-center">Estudiantes Inactivos</h1>
      <table class="table table-hover table-sm">
        <thead class="thead-light">
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Programa</th>
            <th class="text-center">Ultimo pago</th>
            <th class="text-center">Ver</th>
          </tr>
        </thead>
        <% @user_students.students.each do |student| %>
          <% if student.state == false %>
            <tbody>
              <tr>
                <td><%= student.name %></td>
                <td><%= student.last_name %></td>
                <td><%= student.course %></td>
                <td class="text-center" style="color: #FF3C64"><%= student.payments.last.month %></td>
                <td class="text-center"><a href="/students/<%= student.id %>"><i id="eye-color" class="far fa-eye" style="color: #403E38;"></i></a></td>
              </tr>
            </tbody>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>
