<div class="container">
  <div class="row justify-content-around container-style">
    <div class="col-sm-10">
      <h1 class="title text-center">ESTADISTICAS</h1>

      <div class="col-sm-11 line-div"></div>

      <div class="">
        <h2 class="title text-center">Estudiantes matriculados por dia</h2>
        <%= line_chart @user_students.students.group_by_day(:created_at).count %>
      </div>
    </div>
  </div>

  <div class="col-sm-11 line-div"></div>

  <div class="row justify-content-center">
    <div class="col-sm-4 text-center">
      <a class="btn btn-dark  " data-toggle="collapse" href="#month" role="button" aria-expanded="false" >
        <i class="fas fa-users"></i> Estudiantes X Mes
      </a>
      <div class="collapse" id="month">
        <div class="card card-body">
          <%= pie_chart @user_students.students.group_by_month(:created_at, format: "%b").count %>
        </div>
      </div>
    </div>

    <div class="col-sm-4 text-center">
      <a class="btn btn-dark  " data-toggle="collapse" href="#x" role="button" aria-expanded="false" >
        <i class="fas fa-users"></i> Estudiantes X Programa
      </a>
      <div class="collapse" id="x">
        <div class="card card-body">
          <%= pie_chart @courses %>
        </div>
      </div>
    </div>

    <div class="col-sm-4 text-center">
      <a class="btn btn-dark  " data-toggle="collapse" href="#y" role="button" aria-expanded="false" >
        <i class="fas fa-users"></i> Estudiantes Deudores
      </a>
      <div class="collapse" id="y">
        <div class="card card-body">
          <%= pie_chart [["Deudores", @students_debtors.count], ["Al Dia", @user_students.students.count - @students_debtors.count]]  %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-11 line-div"></div>

  <div class="row justify-content-around title">
    <div class="col-sm-3 text-center">
      <a class="btn btn-dark  " data-toggle="collapse" href="#et" role="button" aria-expanded="false" >
        <i class="fas fa-users"></i> Total Matriculados
      </a>
      <div class="collapse" id="et">
        <div class="card card-body">
          <h2><%= @user_students.students.count %></h2>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <a class="btn btn-dark  " data-toggle="collapse" href="#ei" role="button" aria-expanded="false" >
        <i class="fas fa-users"></i> Estudiantes Inactivos
      </a>
      <div class="collapse" id="ei">
        <div class="card card-body">
          <h2><%= @state %></h2>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <a class="btn btn-dark  " data-toggle="collapse" href="#ea" role="button" aria-expanded="false" >
        <i class="fas fa-users"></i> Estudiantes Activos
      </a>
      <div class="collapse" id="ea">
        <div class="card card-body">
          <h2><%= @user_students.students.count - @state %></h2>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-11 line-div"></div>

  <div class="row justify-content-center bottom-card">
    <div class="col-sm-4 text-center">
      <h2 class=" title text-center">Total Pagos Mes de <%= Time.now.strftime("%b") %></h2>
      <div class="card pay-sum">
        <h2><%= number_to_currency(@sum_month, precision: 0) %></h2>
      </div>
    </div>
  </div>

</div>
