<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Trykker" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title></title>
  </head>
  <body>
    <div class="baner">
      <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: rgba(255,255,255,0.0);">
        <div class="container">
          <a class="navbar-brand" href="#"><b>PayZaiens</b></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars i-font"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
            </ul>

            <ul class="navbar-nav">
              <li class="nav-item active">
                <%= link_to 'Iniciar Sesión', new_user_session_path, class:"nav-link color-link" %>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <section id="home">
        <h1>GESTIONA LA OPERACIÓN DE TU INSTITUCIÓN EN LINEA</h1>
        <p>Ten todo en un solo lugar y no te vuelvas a preocupar por buscar nada mas</p>
        <%= link_to new_user_registration_path, class:'link-button' do %>
          <div class="home_button">
            Pruébalo GRATIS
          </div>
        <% end %>
        <div class="ico_down"><img src="<%=asset_path('ico_down.svg')%>" alt=""></div>
      </section>
    </div>

    <section id="features">
      <!-- <div class="container"> -->
        <div class="row justify-content-center">
          <div class="col-md-3">
            <div class="div-features">
              <i class="far fa-address-card"></i>
              <h4>GESTIONA LA HOJA DE VIDA DE TUS ALUMNOS</h3>
              <p class="text-secondary">Es muy fácil, solo crea un nuevo alumno y conoce todo sobre el, permanencia, cursos, pagos, deudas… ten control de todo en un solo lugar.</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="div-features">
              <i class="far fa-money-bill-alt"></i>
              <h4>CONOCE CUAL ES TU CARTERA</h3>
              <p class="text-secondary">Detalle especifico de cuanto te deben y quines son los alumnos que no se encuentran al dia, facil y rápido y en tan solo unos clicks.</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="div-features">
              <i class="fas fa-chart-line"></i>
              <h4>LLEVA UN CONTROL DE TUS INGRESOS</h3>
              <p class="text-secondary">Conocer al detalle cuanto te ha entrado por conceptos de mensualidades, matriculas etc. nunca ha sido mas fácil tener todo en orden.</p>
            </div>
          </div>
        </div>
      <!-- </div> -->
    </section>

    <section id="banner">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-md-6">
            <h1>PAGA SOLO POR LO QUE UTILICES!!!</h1>
            <p>No tendrás que preocuparte por costosas facturas al final del mes, pago  solo por lo que utilices y siempre ten el control de tu operación.</p>
            <div>
              <%= link_to new_user_registration_path do%>
                <p class="p-button">Conoce nuestras tarifas</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/VYA6MdNLdWc?" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>

    <section id="features_two">

    </section>

    <footer>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-4">
            <h3>Contáctanos</h3>
            <ul>
              <li><i class="fa fa-envelope"></i> payzaiens@gmail.com</li>
              <li><i class="fa fa-phone-square"></i> 319 4942731 - 305 7044164</li>
              <li><i class="fa fa-map-marker"></i> Bogotá, Colombia</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3>Nosotros</h3>
            <ul>
              <li>Como Funciona PayZaiens</li>
              <li>Costos</li>
              <li>Iniciar Ahora</li>
              <li>Ayuda</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3>Síguenos</h3>
            <a href="https://www.facebook.com/royne.chaves" class="social" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://twitter.com/roynechaves" class="social" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/royne-chaves-49618a168/" class="social" target="_blank"><i class="fab fa-youtube"></i></i></a>
          </div>
        </div>
      </div>
    </footer>
    <p class="p-footer">Desarrollado por <a href="http://zaiens.com" target="_blank">©Zaiens</a> developers.</p>

    <div class="" id="js_up">
      <img src="<%= asset_path('ico_top.png') %>" alt="">
    </div>

    <script>
      $(document).ready(function(){
        // boton scrollTop
        $(window).scroll(function(){
          if ($(this).scrollTop() > 500) {
            $('#js_up').fadeIn();
          } else {
            $('#js_up').fadeOut();
          }
        });
      });

      // animacion boton top
      $('#js_up').click(function(){
        $('body, html').animate({scrollTop: 0 }, 2000);
      });

      // animacion boton down
      $('.ico_down').click(function(){
        $('body, html').animate({scrollTop: $('.baner').height() }, 2000);
      });
    </script>
  </body>
</html>
