<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Trykker" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title></title>
  </head>
  <body>
    <div class="baner">
      <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: rgba(255,255,255,0.0);">
        <div class="container">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars i-font"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
            </ul>

            <ul class="navbar-nav">
              <li class="nav-item active">
                <%= link_to 'Iniciar Sesión', new_user_session_path, class:"nav-link color-link" %>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <section id="home">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-sm-12">
              <h1>GESTIONA LA OPERACIÓN DE TU INSTITUCIÓN EN LINEA</h1>
              <p class="p-button"><%= link_to 'Pruébalo GRATIS', new_user_registration_path, class:'link-button' %></p>
            </div>
          </div>
        </div>
      </section>
    </div>

    <section id="features">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-4">
            <div class="div-features">
              <i class="far fa-address-card"></i>
              <h4>GESTIONA LA HOJA DE VIDA DE TUS ALUMNOS</h3>
              <p class="text-secondary">Es muy fácil, solo crea un nuevo alumno y conoce todo sobre el, permanencia, cursos, pagos, deudas… ten control de todo en un solo lugar.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="div-features">
              <i class="far fa-money-bill-alt"></i>
              <h4>CONOCE CUAL ES TU CARTERA</h3>
              <p class="text-secondary">Detalle especifico de cuanto te deben y quines son los alumnos que no se encuentran al dia, facil y rápido y en tan solo unos clicks.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="div-features">
              <i class="fas fa-chart-line"></i>
              <h4>LLEVA UN CONTROL DE TUS INGRESOS</h3>
              <p class="text-secondary">Conocer al detalle cuanto te ha entrado por conceptos de mensualidades, matriculas etc. nunca ha sido mas fácil tener todo en orden.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="banner">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-md-6">
            <h1>PAGA SOLO POR LO QUE UTILICES!!!</h1>
            <p>No tendrás que preocuparte por costosas facturas al final del mes, pago  solo por lo que utilices y siempre ten el control de tu operación.</p>
            <div>
              <p class="p-button">Conoce nuestras tarifas</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="features-two">

    </section>

    <footer>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-4">
            <h3></h3>
          </div>
          <div class="col-md-4">
            <h3></h3>
          </div>
          <div class="col-md-4">
            <h3></h3>
          </div>
        </div>
      </div>
    </footer>
    <p class="p-footer">©zaiens dev.</p>
  </body>
</html>
